<ion-view view-title="Confirmación de Email">
    <ion-content>
        <form name="formConfirm" novalidate ng-submit="formConfirm.$valid && confCtrl.confirm(confCtrl.vm.confirmData)">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label" ng-class="{'assertive':formConfirm.uid.$invalid}">
                        UID
                    </span>
                    <input type="text" placeholder="UID recibido" name="uid"
                           ng-model="confCtrl.vm.confirmData.uid" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" ng-class="{'assertive':formConfirm.token.$invalid}">
                        Codigo de Confirmación
                    </span>
                    <input type="text" placeholder="Codigo recibido" name="token"
                           ng-model="confCtrl.vm.confirmData.token" required>
                </label>
                <button type="submit" class="button button-full button-positive">
                    Confirma tu correo
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>